{% extends "auctions/layout.html" %}

{% block body %}

    {% for error in Errors %}
        <li>{{ error }}</li>
    {% endfor %}
    <h1>New Auction</h1>
    <form action="{% url 'createListing' %}" method="post">
        {% csrf_token %}
        <input type="text" name="title" placeholder="Listing Title" value="{{ title }}">
        <textarea placeholder="Listing Description" name="description">{{ description }}</textarea>
        <input type="number" name="startingBid" placeholder="Starting Bid" value="{{ startingBid }}">
        <input type="text" name="category" placeholder="Category" value="{{ category }}">
        <input type="text" name="imgURL" placeholder="Image URL" value="{{ imgURL }}">
        <input type="hidden" name="user" value="{{ user.username }}">
        <input type="submit" value="Save">
    </form>
{% endblock %}